<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcases.Welcomepagetest"/>
       <class name="com.testcases.Reservepagetest"/>
        <class name="com.testcases.Homepagetest"/>
         <class name="com.testcases.Confirmationpagetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
