<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcases.Welcomepagetest2"/>
       <class name="com.testcases.Reservepagetest2"/>
      <class name="com.testcases.ConfirmpageTest3"/>
      <class name="com.testcases.HomepageTest4"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
